<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
            tailwind.config = {
              darkMode: "class",
              theme: {
                extend: {
                  colors: {
                    primary: {"50":"#eff6ff","100":"#dbeafe","200":"#bfdbfe","300":"#93c5fd","400":"#60a5fa","500":"#3b82f6","600":"#2563eb","700":"#1d4ed8","800":"#1e40af","900":"#1e3a8a","950":"#172554"}
                  }
                },
                fontFamily: {
                  "body": ["Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"],
                  "sans": ["Inter", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"]
                }
              }
            }
          </script>
    <link rel="stylesheet" href="https://d2s3ptptdai04x.cloudfront.net/get-flowbite-pro.9fc5b9f6-cb5c-4f28-9d54-389f431da6ab.css?Expires=2033975504&amp;Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9kMnMzcHRwdGRhaTA0eC5jbG91ZGZyb250Lm5ldC9nZXQtZmxvd2JpdGUtcHJvLjlmYzViOWY2LWNiNWMtNGYyOC05ZDU0LTM4OWY0MzFkYTZhYi5jc3MiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjIwMzM5NzU1MDR9fX1dfQ__&amp;Signature=F3cr143nB~iQIHyi8JBu6sBi-bMLMcQMJ6zcr7xJD6ueZSmwZkOnGXQty1ZxjbhWd70vQxulJcUcgfVoDB~PZ-V1BpH9AKNXZRGj37aErVOF75N6wlGHcePn9aHBZCzha7SsHzMhcy7p02GDbHIy~329I7EJeVZmrbOA3ZarzjK3qhtYOOtugDT~Eh7W3qk2rGfp6~RW3VLkXVGk1dATO0KEK2b0rADfG3EWvq20tXKRtqFjyCExZXxI65UZHJPPqMZ~bvYS68wMcXmMxnCGS~k8jJ1YD0FVGJ1BIcAt8cgLOQaTUAc5LPmLZioDJCKZSP0vWvHMA-EU15vHeO~zMg__&amp;Key-Pair-Id=K2J5W1U51CTOXP">
</head>
  <body>
      <section class="jCHKuJ3G7rklx_LiAfbf zlFmyfujKXCLCPyPEOIS">
        <div class="i0EfZzmTLElZVOble53D HV01LldvyEqRHHy0hljF veFXkDzfJN473U3ycrV8 OmM4wtdsNjVR2r7OSzsm RV8RoaI_SlEMC5CEQ3ms S6lqcOV36w1qYVhB_gJM jj0BrgkBpq72EXwWuBh5 _kUFAjExH_qwNelRHnuR">
          {% if error%}
              <section class="">
                <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
                  <div class="p-6 border-l-4 border-red-500 rounded-r-xl bg-red-50">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path>
                        </svg>
                      </div>
                      <div class="ml-3">
                        <div class="text-sm text-red-600">
                          <p><strong>{{error}}</strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
          {% endif%}
          <div class="jCISvWkW5oStPH6Wrb_H rhHZLKCNkg6rp7jwfB1J RV8RoaI_SlEMC5CEQ3ms yjGyQxv8jnYk9_MGMqLN _Qk4_E9_iLqcHsRZZ4ge lhxYQ_2y3sYNN3W1V_3q _cpMMPjFQqjJu4i0Puod nJQS7QrxrGJ4C_YwVwVY J5z_xpzAk7ofGkPjWqvM Vxu5gt71Zexz5PXSkXLX">
            <h1 class="rD4HtsUG_hahmbh2Kj09 _e063bssp_1bldcJ6kR0 _WfIfkoGCi0vvUrnNs4M jGqC6Vyq4r7i62RWVQU_ marR_sCaF_d1KewmkXGX g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">
                Create your Account
              </h1>
              <p class="MxG1ClE4KPrIvlL5_Q5x XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr _Rz9TooiK_4jTN_Ub8Gm">
                Already have an account? <a href="/login" class="_A6LflweZRUwrcL6M2Tk text-primary-600 _5zvlMLkN1qETxEl3IhT dark:text-primary-500">Login here</a>.
              </p>
              <form class="KgBTWt39fdiAC__YVNt8 xXHjLQ2J7cbu8iHm8NVp AuB0Ecr_8CO7ghWxxqa1" action="#" method="post">
                <div class="i0EfZzmTLElZVOble53D lSg6RHKCkPBz2kSnADor hAFtnIdYDiO6M_67F11P">
                    <div>
                      <label for="name" class="ttxtqsLWp2pFRX8yUvWd rD4HtsUG_hahmbh2Kj09 MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Name</label>
                      <input type="text" name="name" id="__name__" class="jCHKuJ3G7rklx_LiAfbf PWreZZgitgAm_Nv4Noh9 T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH rpoQ3z3YFaRvK40y_xhF _Qk4_E9_iLqcHsRZZ4ge focus:ring-primary-600 focus:border-primary-600 ttxtqsLWp2pFRX8yUvWd jCISvWkW5oStPH6Wrb_H _4wtDMQ2AdJOlYvml5sL _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0 OOJuY9kV1XZH_KV1ElVw FXh9uSTLEhQn4Ek_3flj" placeholder="John Doe" required="">
                    </div>
                    <div>
                        <label for="email" class="ttxtqsLWp2pFRX8yUvWd rD4HtsUG_hahmbh2Kj09 MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Your email</label>
                        <input type="email" name="email" id="email" class="jCHKuJ3G7rklx_LiAfbf PWreZZgitgAm_Nv4Noh9 T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH rpoQ3z3YFaRvK40y_xhF _Qk4_E9_iLqcHsRZZ4ge focus:ring-primary-600 focus:border-primary-600 ttxtqsLWp2pFRX8yUvWd jCISvWkW5oStPH6Wrb_H _4wtDMQ2AdJOlYvml5sL _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0 OOJuY9kV1XZH_KV1ElVw FXh9uSTLEhQn4Ek_3flj" placeholder="name@company.com" required="">
                      </div>
                      <div>
                        <label for="password" class="ttxtqsLWp2pFRX8yUvWd rD4HtsUG_hahmbh2Kj09 MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="jCHKuJ3G7rklx_LiAfbf PWreZZgitgAm_Nv4Noh9 T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH rpoQ3z3YFaRvK40y_xhF _Qk4_E9_iLqcHsRZZ4ge focus:ring-primary-600 focus:border-primary-600 ttxtqsLWp2pFRX8yUvWd jCISvWkW5oStPH6Wrb_H _4wtDMQ2AdJOlYvml5sL _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0 OOJuY9kV1XZH_KV1ElVw FXh9uSTLEhQn4Ek_3flj" required="">
                      </div>
                    </div>
                    <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE">
                      <div class="jCISvWkW5oStPH6Wrb_H xm7OMZMei4gQKwhsRmfw vyuwQLkFO7jUAv3Xr23z _t2wg7hRcyKsNN8CSSeU"></div>
                      <div class="bFARDnno0HUtfhktTXfR _F_1gdhzusC6tSOWHtx_ K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">or</div>
                      <div class="jCISvWkW5oStPH6Wrb_H xm7OMZMei4gQKwhsRmfw vyuwQLkFO7jUAv3Xr23z _t2wg7hRcyKsNN8CSSeU"></div>
                    </div>
                    <div class="__Iv72FadFpzwcpFl5_5">
                      <div class="kqgYncRJQ7spwKfig6It __9yfFbPJuEYWBMy4kA9">
                        <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE RRXFBumaW2SHdseZaWm6">
                          <input id="terms" aria-describedby="terms" type="checkbox" class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT PWreZZgitgAm_Nv4Noh9 T_tFENbpK8DMDNjQRyQa YPSoR6AXtPgkmylUmcbT jCHKuJ3G7rklx_LiAfbf focus:ring-3 focus:ring-primary-300 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk dark:focus:ring-primary-600 apRlbPZRJ4JWA5RVdURT" required="">
                        </div>
                        <div class="Ljy4iPgx864jXhJbnInL MxG1ClE4KPrIvlL5_Q5x">
                          <label for="terms" class="XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr _Rz9TooiK_4jTN_Ub8Gm">By signing up, you are creating an account, and you agree to the <a class="_A6LflweZRUwrcL6M2Tk text-primary-600 dark:text-primary-500 _5zvlMLkN1qETxEl3IhT" href="#">Terms of Use</a> and <a class="_A6LflweZRUwrcL6M2Tk text-primary-600 dark:text-primary-500 _5zvlMLkN1qETxEl3IhT" href="#">Privacy Policy</a>.</label>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="jCISvWkW5oStPH6Wrb_H wP9HMsqy6b96l2HBRbgb bg-primary-600 hover:bg-primary-700 _FONMPVaCsLFJJGDaaIL qHIOIw8TObHgD3VvKa5x focus:ring-primary-300 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 _F_1gdhzusC6tSOWHtx_ dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
                  </form>
                </div>
                <div class="Gv_Kzhl5FMSJkGOJVPkG zJEHSVu7alSVJ7kUYcCf J5z_xpzAk7ofGkPjWqvM">
                  <img class="j2x7_17hqRVmwte_tWFa RV8RoaI_SlEMC5CEQ3ms s39ClfdnICIuO9QZ5YG_" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/authentication/illustration.svg" alt="illustration">
                </div>
              </div>
            </section>
  </body>
</html>
